<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    {%  load static %}
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/index.css' %}">
</head>
<body>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if all_question%}
    <ul>
    {% for question in all_question %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

</body>
</html>