<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    {%  load static %}
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
     <link rel="stylesheet" type="text/css" href="{% static 'loan/homepage.css' %}">
</head>
<body>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="{% url 'loan:homepage' Id%}">خانه</a></li>
  <li role="presentation"><a href="{%  url 'loan:pay' Id %}">پرداخت ها</a></li>
  <li role="presentation"><a href="{% url 'loan:chooseLoan' Id %}">دریافت وام</a></li>
</ul>



</body>
</html>